section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.carousel-control-prev{
	left: -50px;
}
.carousel-control-next{
	right: -50px;
}
.carousel-control-prev-icon{
	background-image: url("img/arrow.png");
}
.carousel-control-next-icon{
	background-image: url("img/right-arrow.png");
}