a {
    color: blue;
}
a.list1 {
    color: #FFBB00;
}
a.list2 {
    color: #800000;
}

body.ex3aqua{
    background-color: aqua;
}
#exam10
{
    color: #56c500;
}
p.ex5{
    background-color: #ff0000;
    color: #00ff00;
}
p.ex4{
    color: #00ff00;
}
body.body5{
    background-color:#ff0000;
    background-image: url("../images/ball.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 5cm 5cm;


}
p.ex6{font-family: Arial, Candara, Century-Gothic, sans-serif}
h1.ex7{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
}
h2.ex7{
    font-family: Times New Roman, Georgia, serif;
    font-style: italic;
}
p.ex7{
    font-family: Times New Roman, Georgia, serif;
    font-style: oblique;
}
body.example8{
    background-color: aqua;
}
p.ex8{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
}
p.ex9{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 600
}
h1.ex10{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
    font-size: 30px;
    text-transform: none;
}
h2.ex10{
    font-family: Times New Roman, Georgia, serif;
    font-style: italic;
    font-size: 100pt;
    text-transform: capitalize;
}
h3.ex10{
    font-family: Times New Roman, Georgia, serif;
    font-style: italic;
    font-size: 120%;
    text-transform: lowercase;
}
p.ex10{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
}
p.ex10{
    text-indent: 3pt;
    text-align: justify;
    text-decoration: line-through;
    letter-spacing: 2em;
}

